@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* MARIAN 2 */

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 28px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}


.container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, rgb(1,1,1) 0%, rgb(255,255,255 )100%);
}